@font-face {
font-family: 'SolaimanLipi';
src: url('https://rawcdn.githack.com/ai1/Fonts/0183133933a02c6d91dbfd1da7c1ca213afbd0c5/SolaimanLipi.eot');
src: url('https://rawcdn.githack.com/ai1/Fonts/0183133933a02c6d91dbfd1da7c1ca213afbd0c5/SolaimanLipi.eot?#iefix') format('embedded-opentype'),
url('https://rawcdn.githack.com/ai1/Fonts/0183133933a02c6d91dbfd1da7c1ca213afbd0c5/SolaimanLipi.woff') format('woff'),
url('https://rawcdn.githack.com/ai1/Fonts/0183133933a02c6d91dbfd1da7c1ca213afbd0c5/SolaimanLipi.ttf') format('truetype'),
url('https://rawcdn.githack.com/ai1/Fonts/0183133933a02c6d91dbfd1da7c1ca213afbd0c5/SolaimanLipi.svg#SolaimanLipi') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'CenturyGothic';
src: url('https://rawcdn.githack.com/ai1/Fonts/e9b6c39999cf2aa18e12cb6a95c1d7a7052bc3bd/GOTHIC.eot');
src: url('https://rawcdn.githack.com/ai1/Fonts/e9b6c39999cf2aa18e12cb6a95c1d7a7052bc3bd/GOTHIC.eot?#iefix') format('embedded-opentype'),
url('https://rawcdn.githack.com/ai1/Fonts/e9b6c39999cf2aa18e12cb6a95c1d7a7052bc3bd/GOTHIC.woff') format('woff'),
url('https://rawcdn.githack.com/ai1/Fonts/e9b6c39999cf2aa18e12cb6a95c1d7a7052bc3bd/GOTHIC.TTF') format('truetype'),
url('https://rawcdn.githack.com/ai1/Fonts/e9b6c39999cf2aa18e12cb6a95c1d7a7052bc3bd/GOTHIC.svg#CenturyGothic') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TimeBurner';
src: url('https://rawcdn.githack.com/ai1/Fonts/8492f4c67158da4f4e35c809ff48ff35bed72ac7/TimeBurner.eot');
src: url('https://rawcdn.githack.com/ai1/Fonts/8492f4c67158da4f4e35c809ff48ff35bed72ac7/TimeBurner.eot?#iefix') format('embedded-opentype'),
url('https://rawcdn.githack.com/ai1/Fonts/8492f4c67158da4f4e35c809ff48ff35bed72ac7/TimeBurner.woff') format('woff'),
url('https://rawcdn.githack.com/ai1/Fonts/8492f4c67158da4f4e35c809ff48ff35bed72ac7/TimeBurner.ttf') format('truetype'),
url('https://rawcdn.githack.com/ai1/Fonts/8492f4c67158da4f4e35c809ff48ff35bed72ac7/TimeBurner.svg#TimeBurner') format('svg');
font-weight: normal;
font-style: normal;
}
